
Server/.vs/Portel_Client_Controller/FileContentIndex/6849b80e-7286-4faf-91e3-6d4569149d87.vsidx
Server/.vs/Portel_Client_Controller/FileContentIndex/7f38380c-2820-4940-b188-aac82b89166b.vsidx
Server/.vs/Portel_Client_Controller/FileContentIndex/d2c82ccf-c6f0-4010-a7c1-b9b042dec4d5.vsidx
Server/.vs/Portel_Client_Controller/FileContentIndex/read.lock
Server/.vs/Portel_Client_Controller/v17/.suo
Server/.vs/Portel_Client_Controller/v17/Browse.VC.db
Server/.vs/Portel_Client_Controller/v17/Browse.VC.db-shm
Server/.vs/Portel_Client_Controller/v17/Browse.VC.db-wal
Server/.vs/Portel_Client_Controller/v17/Browse.VC.opendb
Server/.vs/Portel_Client_Controller/v17/ipch/AutoPCH/5128b7992aeab07a/CONSOLECOMMANDS.ipch
Server/.vs/Portel_Client_Controller/v17/ipch/AutoPCH/873d26645fe99cdf/COMMANDCONTROL.ipch
Server/.vs/Portel_Client_Controller/v17/ipch/AutoPCH/cd2c7bf9c720aeda/CONFIGCONTROL.ipch
Server/.vs/Portel_Client_Controller/v17/Solution.VC.db
Server/.vs/Portel_Client_Controller/v17/Solution.VC.db-shm
Server/.vs/Portel_Client_Controller/v17/Solution.VC.db-wal
Server/ALL_BUILD.vcxproj
Server/ALL_BUILD.vcxproj.filters
Server/cmake_install.cmake
Server/CMakeCache.txt
Server/CMakeFiles/3.26.0-rc6/CMakeCCompiler.cmake
Server/CMakeFiles/3.26.0-rc6/CMakeCXXCompiler.cmake
Server/CMakeFiles/3.26.0-rc6/CMakeDetermineCompilerABI_C.bin
Server/CMakeFiles/3.26.0-rc6/CMakeDetermineCompilerABI_CXX.bin
Server/CMakeFiles/3.26.0-rc6/CMakeRCCompiler.cmake
Server/CMakeFiles/3.26.0-rc6/CMakeSystem.cmake
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/CMakeCCompilerId.c
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/CompilerIdC.exe
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/CompilerIdC.vcxproj
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CMakeCCompilerId.obj
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.exe.recipe
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/CompilerIdCXX.exe
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/CompilerIdCXX.vcxproj
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
Server/CMakeFiles/3.26.0-rc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
Server/CMakeFiles/3.26.0-rc6/VCTargetsPath.txt
Server/CMakeFiles/3.26.0-rc6/VCTargetsPath.vcxproj
Server/CMakeFiles/3.26.0-rc6/x64/Debug/VCTargetsPath.recipe
Server/CMakeFiles/3.26.0-rc6/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
Server/CMakeFiles/3e9bb0c2654015a2dfc0d70d51d0905b/generate.stamp.rule
Server/CMakeFiles/cmake.check_cache
Server/CMakeFiles/CMakeConfigureLog.yaml
Server/CMakeFiles/generate.stamp
Server/CMakeFiles/generate.stamp.depend
Server/CMakeFiles/generate.stamp.list
Server/CMakeFiles/TargetDirectories.txt
Server/Debug/external.lib
Server/Debug/external.pdb
Server/Debug/Portel_Server.pdb
Server/external.dir/Debug/external.lib.recipe
Server/external.dir/Debug/external.tlog/CL.command.1.tlog
Server/external.dir/Debug/external.tlog/CL.read.1.tlog
Server/external.dir/Debug/external.tlog/CL.write.1.tlog
Server/external.dir/Debug/external.tlog/CustomBuild.command.1.tlog
Server/external.dir/Debug/external.tlog/CustomBuild.read.1.tlog
Server/external.dir/Debug/external.tlog/CustomBuild.write.1.tlog
Server/external.dir/Debug/external.tlog/external.lastbuildstate
Server/external.dir/Debug/external.tlog/Lib-link.read.1.tlog
Server/external.dir/Debug/external.tlog/Lib-link.write.1.tlog
Server/external.dir/Debug/external.tlog/Lib.command.1.tlog
Server/external.dir/Debug/jsoncpp.obj
Server/external.dir/MinSizeRel/external.lib.recipe
Server/external.dir/MinSizeRel/external.log
Server/external.dir/MinSizeRel/external.tlog/CL.command.1.tlog
Server/external.dir/MinSizeRel/external.tlog/CL.read.1.tlog
Server/external.dir/MinSizeRel/external.tlog/CL.write.1.tlog
Server/external.dir/MinSizeRel/external.tlog/CustomBuild.command.1.tlog
Server/external.dir/MinSizeRel/external.tlog/CustomBuild.read.1.tlog
Server/external.dir/MinSizeRel/external.tlog/CustomBuild.write.1.tlog
Server/external.dir/MinSizeRel/external.tlog/external.lastbuildstate
Server/external.dir/MinSizeRel/external.tlog/Lib-link.read.1.tlog
Server/external.dir/MinSizeRel/external.tlog/Lib-link.write.1.tlog
Server/external.dir/MinSizeRel/external.tlog/Lib.command.1.tlog
Server/external.dir/MinSizeRel/jsoncpp.obj
Server/external.dir/Release/external.lib.recipe
Server/external.dir/Release/external.log
Server/external.dir/Release/external.tlog/CL.command.1.tlog
Server/external.dir/Release/external.tlog/CL.read.1.tlog
Server/external.dir/Release/external.tlog/CL.write.1.tlog
Server/external.dir/Release/external.tlog/CustomBuild.command.1.tlog
Server/external.dir/Release/external.tlog/CustomBuild.read.1.tlog
Server/external.dir/Release/external.tlog/CustomBuild.write.1.tlog
Server/external.dir/Release/external.tlog/external.lastbuildstate
Server/external.dir/Release/external.tlog/Lib-link.read.1.tlog
Server/external.dir/Release/external.tlog/Lib-link.write.1.tlog
Server/external.dir/Release/external.tlog/Lib.command.1.tlog
Server/external.dir/Release/jsoncpp.obj
Server/external.vcxproj
Server/external.vcxproj.filters
Server/MinSizeRel/config.json
Server/MinSizeRel/external.lib
Server/MinSizeRel/Portel_Server.exe
Server/Portel_Client_Controller.sln
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CL.command.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CL.read.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CL.write.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CustomBuild.command.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CustomBuild.read.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/CustomBuild.write.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link-cvtres.read.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link-cvtres.write.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link-rc.read.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link-rc.write.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link.command.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link.read.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link.read.2.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/link.write.1.tlog
Server/Portel_Server.dir/Debug/Portel_Server.tlog/Portel_Server.lastbuildstate
Server/Portel_Server.dir/Debug/Portel_Server.tlog/unsuccessfulbuild
Server/Portel_Server.dir/Debug/Server.obj
Server/Portel_Server.dir/Debug/vc143.pdb
Server/Portel_Server.dir/MinSizeRel/CommandControl.obj
Server/Portel_Server.dir/MinSizeRel/ConfigControl.obj
Server/Portel_Server.dir/MinSizeRel/ConsoleCommands.obj
Server/Portel_Server.dir/MinSizeRel/Portel_Server.exe.recipe
Server/Portel_Server.dir/MinSizeRel/Portel_Server.log
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CL.command.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CL.read.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CL.write.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CustomBuild.command.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CustomBuild.read.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/CustomBuild.write.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/link.command.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/link.read.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/link.write.1.tlog
Server/Portel_Server.dir/MinSizeRel/Portel_Server.tlog/Portel_Server.lastbuildstate
Server/Portel_Server.dir/MinSizeRel/Server.obj
Server/Portel_Server.dir/MinSizeRel/SocketEvents.obj
Server/Portel_Server.dir/MinSizeRel/SocketServer.obj
Server/Portel_Server.dir/MinSizeRel/Utility.obj
Server/Portel_Server.dir/Release/CommandControl.obj
Server/Portel_Server.dir/Release/ConfigControl.obj
Server/Portel_Server.dir/Release/ConsoleCommands.obj
Server/Portel_Server.dir/Release/Portel_Server.exe.recipe
Server/Portel_Server.dir/Release/Portel_Server.log
Server/Portel_Server.dir/Release/Portel_Server.tlog/CL.command.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/CL.read.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/CL.write.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/CustomBuild.command.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/CustomBuild.read.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/CustomBuild.write.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/link.command.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/link.read.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/link.write.1.tlog
Server/Portel_Server.dir/Release/Portel_Server.tlog/Portel_Server.lastbuildstate
Server/Portel_Server.dir/Release/Server.obj
Server/Portel_Server.dir/Release/SocketEvents.obj
Server/Portel_Server.dir/Release/SocketServer.obj
Server/Portel_Server.dir/Release/Utility.obj
Server/Portel_Server.vcxproj
Server/Portel_Server.vcxproj.filters
Server/Portel_Server.vcxproj.user
Server/Release/config.json
Server/Release/external.lib
Server/Release/Portel_Server.exe
Server/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
Server/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Server/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Server/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Server/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.log
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.recipe
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Server/x64/MinSizeRel/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.log
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
Server/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Server/ZERO_CHECK.vcxproj
Server/ZERO_CHECK.vcxproj.filters
Server/.vs/Portel_Client_Controller/FileContentIndex/59caded5-25fc-48a2-9fd1-0443c202ad19.vsidx
Server/.vs/Portel_Client_Controller/FileContentIndex/400a16ad-30e1-425d-88e4-93d9c643689f.vsidx
*.vsidx
*.ipch
*.log
*.txt
.vs/Portel Database Manager/FileContentIndex/read.lock
*.lock
.vs/Portel Database Manager/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.lastbuildstate
obj/x64/Release/Portel D.d52ccef9.tlog/unsuccessfulbuild
include/
.vs/
*.bin
*.recipe
*.iobj
*.ipdb
*.obj
*.tlog
*.pdb
